body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

a{
    font-size: 200%;
    color: rgb(25, 25, 231);
}

p, .registro{
    font-size: 150%;
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-size: 100px;
}

button>a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button>a {
    background-color: #0056b3;
}

.subtitulo{
    font-size: 40px;
}

input{
    width: 80%;
}

input, button, p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.seccion1 {
    margin: 0 auto;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    border: 2px solid white;
    background: rgba(255, 255, 255, 0.1); /* Fondo blanco translúcido */
    border-radius: 20px;
    padding: 30px;

    width: 400px; 
    height: 400px;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombrado suave */
    backdrop-filter: blur(10px); /* Difuminado del fondo */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde semitransparente */
}


#login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1600px) and (min-width: 1200px){
    body { 
        font-size: 14px; 
        height: 100vh;
    }

    .seccion1, .login-form {
        flex-direction: column;
    }

    .div {
        margin-top: 50px;

    }

}

@media (max-width: 1200px) and (min-width: 450px) {
    body{ height: 100vh; }
    h1 { font-size: 10px; }
    h2 { font-size: 10px; }
    .subtitulo{ font-size: 23px;}
    a,p{font-size: 15px;}
    input, button {
        width: 70%;
        height: 25px;
    }
    .card { max-width: 250px; }
    .div {height: 250px; width: 250px; margin: 20px;}
}

@media (max-width: 1200px) and (min-width: 450px) {
    body{ height: 100vh; }
    h1 { font-size: 10px; }
    h2 { font-size: 10px; }
    .subtitulo{ font-size: 23px;}
    a,p{font-size: 15px;}
    input, button {
        width: 70%;
        height: 25px;
    }
    .card { max-width: 250px; }
    .div {height: 250px; width: 250px; margin: 20px;}
}


@media (max-width: 400px) {
    body { 
        font-size: 14px; 
        height: 100vh;
    }

    .seccion1, .login-form {
        flex-direction: column;
    }

    .div {
        max-width: 90%;
    }

    input, button {
        width: 60%;
    }

    h1 { font-size: 1.8rem; }
    h2 { font-size: 1.3rem; }
    p  {font-size: 13px;}
}
