body {

    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;

}

img {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}



h1 {

    text-align: center;
    font-size: 30px;

}

h2 {

    margin-bottom: 50px;

}

.seccion1 {

    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.div {

    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border: 2px solid white;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1); /* Fondo blanco translúcido */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombrado suave */
    backdrop-filter: blur(10px); /* Difuminado del fondo */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde semitransparente */
    margin: auto;

}







