<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/chat.css">
    <title>CHAT - Empresa pinturas</title>
</head>
<body>

    <h1>Bienvenido al panel general</h1>

    <section class="primer-seccion">
        
        <section class="agregar">
            <button>+</button>
            <button>+</button>
        </section>

        <section class="contactos">
            <button>.</button>
            <button>.</button>
            <button>.</button>
            <button>.</button>
            <button>.</button>
            <button>.</button>
            <button>.</button>
            <button>.</button>
            <button>.</button>
            <button>.</button>
            <button>.</button>
            <button>></button>
        </section> 

    </section>
    

    <section class="general">
        <div class="posteo">
            <li>
                <ul>
                    <h2>https://github.com/thiago280922/Lester-s-Corporation---Proyecto-Empresa-Tecnologia-Pintura.git</h2>
                </ul>
            </li>
        </div>

        <div class="posteo">
            <li>
                <ul>
                    <h2>https://github.com/thiago280922/Lester-s-Corporation---Proyecto-Empresa-Tecnologia-Pintura.git</h2>
                </ul>
            </li>
        </div>

        <div class="posteo">
            <li>
                <ul>
                    <h2>https://github.com/thiago280922/Lester-s-Corporation---Proyecto-Empresa-Tecnologia-Pintura.git</h2>
                </ul>
            </li>
        </div>




    </section>

</body>
</html>