<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/interseccion.css">
    
    <title>Document</title>
</head>
<body>

    <h1>Bienvenido al panel general</h1>

    <section class="primer-seccion">
        <button type="submit"><a href="/templates/posteos.html"><h2>POSTEOS</h2></a></button>

        <button type="submit"><a href="/templates/chat.html"><h2>CHAT</h2></a></button>

    </section>
    
</body>
</html>