body {
    background: url(/static/img/fondo_interseccion.jpg) no-repeat center center fixed;
    background-size: cover;
    
}

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-top: 20px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.877);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    margin: 20px;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid rgba(206, 206, 206, 0.3);
}

.posteo{
    background-color: #dcb3e2;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    margin: 15px;
}

.primer-seccion button {
    border: none;
    border-radius: 8px;
    background-color: rgba(55, 57, 59, 0.549);
    cursor: pointer;
    transition: 0.3s;
}

.primer-seccion{
    display: flex;
    flex-direction: row;
}

.primer-seccion button h2 {
    color: white;
    margin: 0;
}

.primer-seccion button:hover {
    background-color: rgba(203, 225, 245, 0.604);
    transform: scale(1.05);
    margin: 20px;
}

.agregar, .contactos, button{
    width: 50%;
    background-color: #dcb3e2;
    border: 1px solid rgb(255, 255, 255);
    margin: 10px;
    border-radius: 4px;
    height: 100px;
}

a{
    text-decoration: none;
}